<template>
    <div>
        <h1> Ingreso al sistema </h1>
        <form action="form">
            <table style="margin:0 auto;">
                <tr>
                    <td><label for="user">Usuario:</label></td>
                    <td><InputText id="user" /></td>
                </tr>
                <tr>
                    <td><label for="password">Clave:</label></td>
                    <td><InputText type="password" id="password" /></td>
                </tr>
                <tr>

                    <td colspan="2">
                      <Button label="Aceptar"/>&nbsp;
                      <Button label="Cancelar"/>
                    </td>
                </tr>                
            </table>           
        </form>
    </div>
</template>